<style>
<!-- FAB -->
.fab {
        z-index:100;
        position: fixed;
        bottom: 45px;
        right: 24px;
        height: 60px;
      }
      .fab-fab {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #009688;
        vertical-align: middle;
        text-decoration: none;
        text-align: center;
        transition: 0.2s ease-out;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: #FFF;
      }
      .fab-btn-sm > span{
        margin: 10px;
      }
      .fab-fab:hover {
        background-color: #4db6ac;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
      }
      .fab-btn-large {
            width: 60px;
            /* height: 60px; */
            LEFT: 20px;
            line-height: 60px;
            z-index: 100;
            position: fixed;
            bottom: 25px;
            height: 60px;
      }
      .fab-btn-large > span{
        vertical-align: text-bottom;
      }
      .fab-menu {
    position: fixed;
    left: -60px;
    bottom: 150px;
    list-style: none;
    text-align: left;
    rotate: 270deg;
    z-index: 100;
      }
      .fab-menu li {
        display: inline-block;
        margin-right: 10px;
      rotate: 90deg;
      }
      .scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }
      .scale-transition.scale-out {
        transform: scale(0);
        transition: transform 0.2s !important;
      }
      .scale-transition.scale-in { transform: scale(1); }
  
  
/*tooltip */
.tooltip {
z-index: 100;

width: max-content;
padding: 10px 20px;

background: #009688;
color: #FFF;

position: absolute;
top: 0px;
left: 180%;
border-radius: 9px;
}


/* tooltip  after*/
.tooltip::after {
content: " ";
width: 0;
height: 0;

border-style: solid;
border-width: 12px 12.5px 0 12.5px;
border-color: #009688 transparent transparent transparent;

position: fixed;
right: -110%;
top: 40%;
rotate: 90deg;
}
<!-- FAB -->
</style>
